.login-button-container {
  display: inline-block;
  color: #444;
  border: 1px solid #ccc;
  background: #ddd;
  box-shadow: 0 0 5px -1px rgb(0 0 0 / 20%);
  cursor: pointer;
  vertical-align: middle;
  min-width: 100px;
  padding: 5px;
  text-align: center;
}

.login-button-container:active {
    color: red;
    box-shadow: 0 0 5px -1px rgb(0 0 0 / 60%);
}
