.room-card-photo{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    border-radius: 8px;
    z-index: 1;
}

.col-md-5{
    padding-left: 0px; 
}

.col-md-7{
    padding: 0px;
}

.card{
    display: flex;
    flex-flow: row;
    width: 100%;
    border-color: #fff;
    box-shadow: 0 6px 15px rgba(56, 125, 255, 0.07); 
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
  }

.badge{
    font-size: 10pt;
    font-weight:600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.07);
}

.room-card-right-side {
    display: flex;
    flex-direction: column;
}

.card-title-container{
    display: flex;
    vertical-align: middle;
    /* text-align: left; */
}

.push-right{
    margin-right: 0;
    margin-left: auto;
}

.card-title{
    width: 90px;
    padding-bottom: 5px;
    font-weight:bold;
    font-size: 2.0em;
    color:#0053C5;
}

.favorite-room {
    position: relative;
    top: 3px;
    right: 25px;
    cursor: pointer;  
}

.room-card-badge-container {
    display: flex;
    flex-direction: row;
}

.room-card-badge-container span {
    padding: 7px 10px;
    margin: 1px;
}



.card-button-container{
    margin-top: 35px;
    max-width: 100%;
    text-align: left;
    margin-left: 0; 
    margin-right: auto;
    max-height: 90%;
}

.card-review-quotes{
    font-size: 9pt;
    font-weight:400;
    justify-content:left;
    text-align:left;
    color: #333333;
    /* margin-bottom: 1px; */
    margin-right: 3%;
    margin-top: 3%;
}

.card-subtext{
    font-size: 8pt;
    font-weight:600;
    justify-content:left;
    text-align:left;
    color: #808080;
}

/* For small screens */
@media (max-width: 768px) {
    .room-card-photo-container {
        padding: 0 0 0 0;
    }

    .room-card-right-side {
        width: 250px;
        position: relative;
        left: 5px;
    }

    .room-card-badge-container {
        flex-direction: column;
    }

    .room-card-badge-container span {
        padding: 1.5px 3.5px;
        margin: 1px;
    }

    .room-card-review-quotes {
        display: none;
    }

    .favorite-room {
        right: 0px;
    }
}