.suite-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.suite-modal-header {
  display: flex;
  /* 30px is the size of the close button */
  min-width: 100%;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: left;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  overflow: hidden;
}

.suite-modal-title {
  margin: 0 0;
  position: relative;
  top: 10px;
  left: 45px;
  font-size: 24pt;
  font-weight: bold;
}

.suite-badge-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
  left: 80px;
}

.pill {
  margin-right: 2px;
}

.pill span{
  vertical-align: top;
}

.suite-modal-card-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  overflow: auto;
}

.suite-modal-card-container .card {
  width: 49%;
  margin: 4px;
  height: 155px;
  font-size: 12px;
}

/* For small screens */
@media (max-width: 768px) {
  .suite-modal-header {
    height: 100px;
  }
  
  .suite-modal-title {
    left: 15px;
  }

  .suite-badge-container {
    top: 15px;
    left: 20px;
  }

  .pill span{
    padding: 7px 10px;
  }

  .suite-modal-card-container .card {
    width: 100%;
  }
}