body {
    height: 100%;
    background-position: top;
    background-color: rgba(0, 83, 197, 0.1);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero {
    text-align: left;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 800;
    width: 80%;
    font-size:3.25vw;
    color: #0053C5; 
    padding-top: 18px;
    padding-bottom: 18px;
}

.paragraph {
    text-align: left;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 600;
    width: 80%;
    color: #000;
    font-size: 1.5vw;
    padding-bottom: 18px;
}

.landing {
    float: left;
    max-width: 1250px;
    column-gap: 30px;
    text-align: left;
}

.hero-secondary {
	text-align: left;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 800;
    width: 80%;
    font-size:3vw;
    color: #0053C5; 
    padding-top: 18px;
	padding-bottom: 18px;
}

.row:after {
    content: "";
    display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.column {
    float: left;
    width: 30%;
    border-radius: 10pt;
    background-color: white;
    padding: 25px;
    column-gap: 25px;
    padding-right: 25px;
}

.column-image {
    width: 80%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.column-title {
    text-align: center;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 1.5vw;
    padding-top: 18px;
}